<!-- <div *ngFor="let contact of contact_info" class="contact-info">
  <p><b>{{contact.name}}</b></p>
  <p>{{contact.phone}}</p>
  <p>{{contact.email}}</p>
</div> -->



<div class="contact-container">

  <div class="info-container">
    <div *ngFor="let contact of contact_info" class="company-info">
      <h1><b>{{contact.company_name}}</b></h1>
      <p>{{contact.addr_1}}</p>
      <p>{{contact.addr_2}}</p>
    </div>

    <div *ngFor="let contact of contact_info" class="contact-info">
      <p>{{contact.name}}</p>
      <p>{{contact.phone}}</p>
      <p>{{contact.email}}</p>
    </div>
  </div>

  <app-footer-logo></app-footer-logo>
</div>
