<div class="overview">
  <!-- <iframe src="https://player.vimeo.com/video/254731396?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/75YPgBdeLr4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
  <div class="mobile-background" style="background-image:url(../assets/trial.jpg); background-repeat:no-repeat; background-size: cover; background-position: 0 0;">
    <!-- <img src="../assets/trial.png" alt=""> -->
  </div>
  <video class="home-video" src="../assets/puzzle_video.mp4" loop muted autoplay poster="../assets/puzzle_video.mp4"></video>
  <div class="scroll-down">
    <p>scroll down</p>
  </div>

  <div class="overlay-photo">
    <img src="../assets/overlay.png" alt="">
  </div>
  <div class="something-else" style="background-image:url(../assets/back.png); background-repeat:no-repeat; background-size: cover; background-position: 0 0;">
    <div class="content">
      <p><b>{{page_title}}</b></p><br>
      <p>{{paragraph_part1}}</p><br>
      <p>{{paragraph_part2}}</p><br>
      <p>{{paragraph_part3}}</p>
    </div>
    <app-footer-logo></app-footer-logo>
  </div>
</div>
