<!-- <div class="philosophy_text">
  <p>{{philosophy_text_part1}}</p>
  <p>{{philosophy_text_part2}}</p>
</div> -->

<!-- <div class="philosophy_keypoints">
  <img src="../assets/af1.jpg" alt="">
  <img src="../assets/af1.jpg" alt="">
  <img src="../assets/af1.jpg" alt="">
</div> -->




<div class="philosophy_container" style="background-image:url(../assets/back.png); background-repeat:no-repeat; background-size: cover; background-position: 0 0;">
  <div class="philosophy_text">
    <!-- <p><b>{{philosophy_title}}</b></p><br> -->
    <p>{{philosophy_text_part1}}</p><br>
    <p>{{philosophy_text_part2}}</p>
  </div>

  <div class="philosophy-image">
    <!-- <img src="../assets/placeholder-philosophy.gif" alt=""> -->

  </div>
  <app-footer-logo></app-footer-logo>

</div>
